.exam {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 100;
    position: absolute;
    background: #87cdf5;
    padding-top: 1rem;
}

.close-draw {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

input[type="file"]{
    display: none;
}

.sub-exam {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.exam-container {
    display: flex;
    align-items: center;
}

.exam-container .output-label {
    padding: 9px 1.5rem;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 9px;
    margin-left: 1rem;
}

.sub-exam .import-file {
    width: 24rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-exam .reset {
    padding: 9px 1.2rem;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 9px;
    margin-left: 1rem;
    font-size: 0.9rem;
}

.exam .paper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
}

.paper .input-paper {
    height: 100%;
    /* width: 50%; */
    background: #fff;
}

.paper .output-paper {
    height: 100%;
    width: 100%;
    background: #fff;
}

/* @media screen and (max-width: 400px) {
    .drawCanvas {
        flex-direction: column;
    }

    .container {
        flex-direction: row !important;
        margin-top: 3rem;
        width: 100%;
        height: 3.2rem;
    }

    .drawCanvas canvas {
        margin: auto !important;
        height: 78vh !important;
        width: 90vw !important;
        border: 1px solid black;    
    }

    .container button:hover {
        transform: unset;
    }
}

@media screen and (min-width: 401px) and (max-width: 850px) {
    .drawCanvas {
        flex-direction: row;
        height: 100%;
    }

    .container {
        flex-direction: column !important;
        width: 100px;
        margin-left: 1rem;
    }

    .drawCanvas canvas {
        margin: auto !important;
        margin-top: 1rem !important;
        height: 82% !important;
        width: 96% !important;
        border: 1px solid black;    
    }

    .container button:hover {
        transform: unset;
    }
} */