
.cursor {
  display: inline-block;
  position: relative;
  width: 100%; 
  max-width: 400px; 
  margin: 0;
  font-size: 32px; 
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -393px;
  transition: var(--tran-03);
}

p.text {
  margin-bottom: 3rem;
}

/* Animation */
.typewriter-animation {
  animation:
    typewriter 3s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

/* Text animation  */
.text.cursor {
  color: #8a8787;
}

.text.typewriter-animation {
  animation:
    typewriter 3s steps(50) 2.8s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* Animation for box */
@keyframes slideUp {
  from {
    visibility: hidden;
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.slide-up {
  display: flex;
  align-items: center;
  animation: slideUp 3s ease 5.4s forwards;
}


.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--body-color);
  margin: 1.5rem;
  border-radius: 25px;
  transition: var(--tran-05);
}

body.dark .home {
  background: #e3dead;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
}

body.dark #root {
  background: #d98ef0;
}