/* Sidebar CSS */

/*Sidebar*/
.sidebar {
  display: block;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

body.dark .sidebar {
  background: #181818;
}

.sidebar.close {
  width: 88px;
}

/*Resuable CSS*/
.sidebar .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

body.dark .sidebar .text {
  color: rgb(245, 245, 241);
}

body.dark .sidebar .icon {
  color: rgb(253, 253, 253);
}

.sidebar .mode-text.text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

body.dark .mode-text.text {
  color: #0c0c0e;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--tran-05);
}

body.dark .image {
  color: #e9f80e;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 2rem auto;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-05);
}

.sidebar header {
  position: relative;
} 

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.menu-links {
  padding: 0;
}


header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
  font-size: 24px;
}

body.dark .name {
  color: aliceblue;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -28px;
  transform: translateY(-50%) rotate(180deg);
  height: 30px;
  width: 30px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #0c0c0e;
  font-size: 22px;
  transition: var(--tran-03);
}

.toggle:hover {
  cursor: pointer;
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  background: #f09258;
  color: #00ffe1;
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar li .in {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-05);
  cursor: pointer;
}

.sidebar li .in:hover {
  background: var(--primary-color)
}

body.dark .sidebar li .in:hover {
  background: #5cefde;
}

body.dark .sidebar li .in:hover .icon,
body.dark .sidebar li .in:hover .text {
  color: #7c54f3;
}

.sidebar li .in:hover .icon,
.sidebar li .in:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  margin-bottom: 1rem;
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}


.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode .icon {
  position: absolute;
  transition: var(--tran-05);
}

.menu-bar .mode .icon.sun {
  opacity: 0;
}

body.dark .menu-bar .mode .icon.sun {
  opacity: 1;
  color: #0c0c0e;
}

body.dark .menu-bar .mode .icon.moon {
  opacity: 0;
  color: #0c0c0e;
}

@media screen and (max-width: 400px) {
  .sidebar {
    display: flex;
    min-height: 20px;
    padding: 0;
    margin-top: 6px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background: none;
    transition: var(--tran-05);
  }
  .sidebar .toggle {
    display: none !important;
  }
  .sidebar .menu{
    display: none !important;
    padding: 0;
    margin: 0;
  }
  .sidebar .image {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    color: #f84c0e;
  }
  .sidebar .name {
    font-size: 1rem !important;
  }
  .sidebar .bottom-content {
    display: none;
    padding: 0;
    margin: 0;
    position: unset !important;
    background: none !important;
    position: unset !important;
  }
  .sidebar .menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }

  /* dữ liệu nguyên thuỷ, bander */

  .menu-links .nav-link {
    margin: 0;
  }
 
  .menu-links .in {
    width: 9.6rem !important;
    border-bottom: 1px solid black;
    border-radius: 0px !important;
    padding: 0;
    margin: auto;
  }

  .menu-links .in.last {
    border-bottom: unset;
  }

  .menu-links .in .text {
    font-size: large;
  }

  .sidebar .menu.active {
    display: block !important;
    position: absolute;
    left: 1.3rem;
    top: 1.8rem;
    width: 9.6rem;
    z-index: 100;
    border-radius: 12px;
    border-top-left-radius: 0;
    background: #e9fdf4;
  }
}

@media screen and (min-width: 401px) and (max-width: 850px) {
  .sidebar {
    display: flex;
    min-height: 20px;
    margin-top: 0.4rem !important;
    padding: 0;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background: none;
    transition: var(--tran-05);
  }
  .sidebar .toggle {
    display: none !important;
  }
  .sidebar .menu{
    display: none !important;
    padding: 0;
    margin: 0;
  }
  .sidebar .image {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    color: #f84c0e;
  }
  .sidebar .name {
    font-size: 0.8rem !important;
  }
  .sidebar .bottom-content {
    display: none;
    padding: 0;
    margin: 0;
    position: unset !important;
    background: none !important;
    position: unset !important;
  }
  .sidebar .menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }

  /* dữ liệu nguyên thuỷ, bander */

  .menu-links .nav-link {
    margin: 0;
  }
 
  .menu-links .in {
    width: 8rem !important;
    border-bottom: 1px solid black;
    border-radius: 0px !important;
    padding: 0;
    margin: auto;
  }

  .menu-links .in.last {
    border-bottom: unset;
  }

  .menu-links .in .text {
    font-size: 0.8rem;
  }

  .sidebar .menu.active {
    display: block !important;
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 8rem;
    z-index: 100;
    border-radius: 12px;
    border-top-left-radius: 0;
    background: #e9fdf4;
  }
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  min-width: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
} 


.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-05);
}

body.dark .switch::before {
  left: 24px;
  background: var(--primary-color);
}
