:root {
  /* Color */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  /* */
  --hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: #c4c8eb;
  transition: var(--tran-05);
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

input[type="file"]{
  display: none;
}

